/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex {
  color: #053a30;
}
.My-Color-Theme-2-hex {
  color: #abffef;
}
.My-Color-Theme-3-hex {
  color: #1af0c9;
}
.My-Color-Theme-4-hex {
  color: #a32d00;
}
.My-Color-Theme-5-hex {
  color: #f0551a;
}

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba {
  color: rgba(0, 168, 137, 1);
}
.My-Color-Theme-2-rgba {
  color: rgba(171, 255, 239, 1);
}
.My-Color-Theme-3-rgba {
  color: rgb(8, 91, 75);
}
.My-Color-Theme-4-rgba {
  color: rgba(163, 45, 0, 1);
}
.My-Color-Theme-5-rgba {
  color: rgba(240, 85, 26, 1);
}

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla {
  color: hsla(168, 100, 32, 1);
}
.My-Color-Theme-2-hsla {
  color: hsla(168, 100, 83, 1);
}
.My-Color-Theme-3-hsla {
  color: hsla(169, 87, 52, 1);
}
.My-Color-Theme-4-hsla {
  color: hsla(16, 100, 31, 1);
}
.My-Color-Theme-5-hsla {
  color: hsla(16, 87, 52, 1);
}

html {
  box-sizing: border-box;
}

body {
  padding: 15px;
  margin: 15px;
}

/* Nav Bar Style */
nav {
  font-size: 150%;
  font-family: "Times New Roman", Times, serif;
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 60px;
  /* padding: 0rem 1rem 1rem 1rem; */
  background-color: #abffef;
  background-image: linear-gradient(to top, #abffef 0%, #00a889 100%);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
}

nav h1 a { 
  text-align: center;
  font-family: var(--sans);
}

/* nav li {
  padding: 8px;
  display: inline-flex;
  justify-content: space-between;
} */
nav button {
  background-color: #abffef;
  color: #a32d00;
  /* margin-top: 5px;
  margin-bottom: 5px; */
  /* padding: 5px; */
  list-style-type: none;
  justify-content: space-between;
  border-radius: 8px;
  font-size: 80%;
  padding: 8px;
  display: inline-flex;
  justify-content: space-between;
}

/* nav li:first-child {
  flex-basis: 100%;
} */

nav h1 {
  font-size: 100%;
  font-weight: bold;
  
  text-align: center;
}

nav a {
  color: #a32d00;
  text-decoration: none;
}

.navbar-item:hover {
  background-color: #1af0c9;
} 

.cat-facts .dog-facts {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10 px;
    border-radius: 8px;
    font-size: 120%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fakeInfo h1, h3 {
  text-align: center;
  font-size: 180%;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
}

.opacity {
  background: rgba(171, 255, 239, 0.5);
  ;
}

.btn {
  background-color: #abffef;
  color: #a32d00;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  list-style-type: none;
  justify-content: space-between;
  border-radius: 8px;
  font-size: 80%;
}

